<div class="row">
  <div class="container">
    <div class="form-group">
      <label>Nomor Register Nasabah</label>
      <input type="text" name="cif" id="cif" class="form-control">
    </div>
    <div class="form-group">
      <label>Nama Lengakap</label>
      <input type="text" name="namaLengkap" id="namaLengkap" class="form-control">
    </div>
    <div class="form-group">
      <label>Nama sesuia Identitias (KTP / SIM / Passport )</label>
      <input type="text" name="namaIdentitas" id="namaIdentitas" class="form-control">
    </div>
    <div class="form-group">
      <label for="l">
        <input type="radio" name="jenisKelamin" id="l" value="Laki - Laki" class="radio-inline">
        Laki - Laki
      </label>
      <label for="p">
        <input type="radio" name="jenisKelamin" id="p" value="Perempuan" class="radio-inline">
        Perempuan
      </label>
    </div>
  </div>
</div>
